/* COLOR PALLET

#011627

#f71735

#36c0ae

#fdfffc

#ff9f1c

*/


body{
	background-color: #FDFFFC;
	position: relative; 
	
}

.navbar-fixed-top{
	background-color: #36C0AE;
	position: fixed;
	width:100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
}

.icon-bar{
	background-color: #011627;
}

.nav a:hover {
  background-color: #011627;
  color: black;
}

.top-content{
	padding-top: 50px;
}

li.active a { 
	color: #011627 !important; 
	background-color: #FDFFFC; 
}

.jumbotron{
	color: #011627;
	background-color: #FF9F1C;
	display: flex;
}
