/*
boyOfGame Colors:
Dark Gray: #8C858D
light gray: #C3BEBA
background green: #9bbc0f
Green: #9bbc0f
dark green: #0f380f
Button magenta: #982659
dark magenta: #5C1F3D


*/

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html body{
  background-color: #C3BEBA;
}

.button {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
  padding: 0 px;
  border-radius: 55px;
  border-top: 0px solid #633A47;
  border-right: 3px solid #633A47;
  border-bottom: 5px solid #633A47;
  border-left: 2px solid #633A47;
  background-color: #91295F;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  float: right;
  margin-right: 10px;
  padding-bottom: 3px;
  box-shadow: 0px 1px 1px 1px #8B858E;
  transition: padding 0.1s, box-shadow 0.1s, height 0.1s;
}

.button:hover {
  box-shadow: 0 3px 0 #633A47, 0 5px 0px 2px #8B858E;
}

.button:active {
  height: 98px;
  padding-bottom: 0px;
  box-shadow: 0 3px 0 #262527, 0 0px 3px 3px #8B858E;
}

.sidenav {
    height: 100%;
    width: 0vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #9bbc0f;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 8px;
    text-align: left;
    color: #0f380f;
    font-family: 'Press Start 2P', mono-space;
    
}

.visible{
  width: 50vw;
  border: 15px solid #8C858D;
}

.sidenav a {
    padding: 8px 8px 0px 0px;
    text-decoration: none;
    font-size: .1 em;
    color: #0f380f;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover{
    color: #9bbc0f;
    background-color: #0f380f;
}

.list-item{
      list-style-type: none;
}
